Repository allencloud/sealer, changes with the labels that .github/labeler.yml gives for each.
All labels: e2e-test, command, area/doc, faq, test

test labeler if works
  FAQ.md
  cmd/sealer/cmd/build.go
  docs/README_zh.md
  test/e2e_test.go
Labels: command, area/doc, faq, test

refactor: make command arg passing more explicit
  apply/run.go
  go.mod
  utils/net/iputils.go
Labels: none

actions: add golangci-lint action for sealer
  .github/workflows/build.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/gosec.yml
  .github/workflows/markdown-lint.yml
  .golangci.yml
  pkg/image/distributionutil/login.go
  pkg/image/save/distributionpkg/proxy/proxyauth.go
  pkg/image/save/filesystem.go
  pkg/plugin/etcd_backup_plugin.go
  pkg/runtime/kubeadm_config_test.go
  utils/os/readers.go
  utils/strings/strings.go
Labels: none

actions: add shell check action for sealer
  .github/workflows/shellcheck.yml
  cmd/sealer/test/apply.sh
  cmd/sealer/test/delete.sh
  hack/autobuild.sh
  hack/build.sh
Labels: command

image build
  build/buildimage/executor.go
  build/buildimage/utils.go
  cmd/sealer/cmd/join.go
  pkg/parser/parser.go
Labels: command

add HostPool to take over nodes management
  go.mod
  go.sum
  pkg/hostpool/host.go
  pkg/hostpool/host_pool.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/join_masters.go
  pkg/runtime/kubernetes/join_nodes.go
  pkg/runtime/kubernetes/registry.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/update_cert.go
  pkg/runtime/kubernetes/upgrade.go
  vendor/github.com/bramvdbogaerde/go-scp/.gitignore
  vendor/github.com/bramvdbogaerde/go-scp/LICENSE.txt
  vendor/github.com/bramvdbogaerde/go-scp/README.md
  vendor/github.com/bramvdbogaerde/go-scp/client.go
  vendor/github.com/bramvdbogaerde/go-scp/configurer.go
  vendor/github.com/bramvdbogaerde/go-scp/go.mod
  vendor/github.com/bramvdbogaerde/go-scp/go.sum
  vendor/github.com/bramvdbogaerde/go-scp/protocol.go
  vendor/github.com/bramvdbogaerde/go-scp/scp.go
  vendor/github.com/bramvdbogaerde/go-scp/utils.go
  vendor/modules.txt
Labels: none

.github/labeler.yml:

# Add 'e2e-test' label to any change to e2e-test files within the source dir
e2e-test:
- any: ['e2e-test']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
command:
- any: ['cmd/**/*']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
area/doc:
- any: ['docs/**/*']

faq:
- 'FAQ.md'

test:
- any: ["test/**/*"]
